<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>

    <title>Отпуска</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Employee Manager</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                </li>
                <li><a class="nav-link active" th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header bg-secondary text-white">
                    <div class="row row-cols-1">
                        <div class="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                        </div>
                        <div class="col">
                            <h4>Принятые заявки</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h6>
                        <a style="text-decoration: none;" th:href="@{/vacations/accepted}" class="text-primary">Перейти</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header bg-secondary text-white">
                    <div class="row row-cols-1">
                        <div class="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                        </div>
                        <div class="col">
                            <h4>Все заявки</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h6>
                        <a style="text-decoration: none;" th:href="@{/vacations/all}" class="text-primary">Перейти</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-2">
    <h1 class="text-center">Список Заявок</h1>
    <hr>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Работник </th>
            <th> От </th>
            <th> До </th>
            <th> Комментарий </th>
            <th> Действия </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v : ${list}">
            <td th:text="${v.users.firstName + ' ' + v.users.lastName}"></td>
            <td th:text="${v.fromDate}"></td>
            <td th:text="${v.toDate}"></td>
            <td th:text="${v.description}"></td>
            <td>
                <a th:href="@{/vacations/acceptVacation/{id}(id=${v.id})}" class="btn btn-success">Accept</a>
                <a th:href="@{/vacations/rejectVacation/{id}(id=${v.id})}" class="btn btn-danger">Reject</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
